.gradina-container{
    /* margin: -8px; */
    width: 100%;
    height: 100vh;
    font-family: Roboto, sans-serif;
}



.background {
    width: 100%;
    height: 500px;
    background-image: url('../../assets/gradina.JPEG');
    background-position: center;
    background-size: cover;
    filter: brightness(60%);
}

.title {
    text-align: center;
    margin: 0 auto;
    color: white;
    padding-top: 250px;
}


.about-gradina {
    display: flex;
    margin-top: 50px;
}

.about-gradina div {
    /* width: 50%; */
    padding: 20px;
}

.text p{
  width: 90%;
}

.carousel {
    margin-top: 50px;
}

.info {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.info-img {
   margin-left: 25%;
   margin-right: 25%;
   /* float: right; */
    width: 40px;
    height: 40px;
}

